* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background: black;
    border: 300px;
    margin: 0%;
    height: 100%;
}

/*espacio barra nav*/

.navbar-nav>li {
    padding-left: 3px;
    padding-right: 3px;
}

/*espacio barra nav*/

h3 {
    text-align: center;
    background-color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

/*desarrollo formulario de contacto*/

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 2em;

    &__span {
        color: #B70E21;
    }
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background: #222222;

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

}

.contact-form form label {
    display: block;

    &__p {
        margin: 0;
        padding: 1em;
    }

    &__.block {
        grid-column: 1 / 3;
    }

    &__button,
    &__input,
    &__textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid pink;

    }

    &__button {
        background: pink;
        border: 0;
        text-transform: uppercase;
        padding: 1em;

    }

    &__button:hover,
    &__button:focus {
        background: #d63031;
        color: black;
        transition: background-color 1s ease-out;
        outline: 0;
    }

}


/*desarrollo formulario de contacto*/

/* CONTACT INFO */
.contact-info {
    background: #000;

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
    }
}


/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;

        &__>* {
            padding: 2em;
        }
    }

    /* fin desarrollo formulario de contacto*/

    /*desarrollo galeria de tendencias*/

    .Galeria {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px 200px;
        padding: 15px;
        grid-gap: 10px;
    }

    .item {

        border: 2px solid white;
        border-radius: 10px;
        filter: grayscale(100%);
        background-position: center;

        &__:hover {
            transform: scale(1.5);
            transition: all 0.8s;
        }

        &__1 {
            grid-column: 1/2;
            grid-row: 1/3;
            background-image: url(../multimedia/moda6.jpg);
            background-size: cover;
        }

        &__2 {
            grid-column: 2/3;
            grid-row: 1/2;
            background-image: url(../multimedia/textil1.jpg);
            background-size: cover;
        }


        &__3 {
            grid-column: 3/5;
            grid-row: 1/2;
            background-image: url(../multimedia/tipos-de-moda.jpg);
            background-size: cover;
        }

        &__4 {
            grid-column: 2/3;
            grid-row: 2/4;
            background-image: url(../multimedia/moda9.jpg);
            background-size: cover;

        }

        &__5 {
            grid-column: 3/4;
            grid-row: 2/3;
            background-image: url(../multimedia/textil2.jpg);
            background-size: cover;
        }


        &__6 {
            grid-column: 4/5;
            grid-row: 2/3;
            background-image: url(../multimedia/moda2.jpg);
            background-size: cover;

        }


        &__7 {
            grid-column: 1/2;
            grid-row: 3/4;
            background-image: url(../multimedia/accesorio1.jpg);
            background-size: cover;
        }

        &__8 {
            grid-column: 3/5;
            grid-row: 3/4;
            background-image: url(../multimedia/nosotros.jpg);
            background-size: cover;
        }

    }


    @media only screen and (min-width: 320px) {
        .galeria {
            display: grid;
            grid-template-columns: 1fr;
        }
    }


